[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "components/EspDataStorage"]
	path = components/EspDataStorage
	url = https://github.com/sukrisl/EspDataStorage.git
